.header{
  margin-bottom: 13vh;

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151515;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 1rem 2rem;

  h3 {
    color: white;
    font-size: 2rem;
    margin: 0;
  }

  button {
    background-color: transparent;
    border: 1px solid #00ffff;
    color: #00ffff;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    span {
      margin-left: 10px;
      background: #00ffff;
      color: #151515;
      padding: 3px 15px;
      border-radius: 10px;
    }
  }

  button:hover {
    background-color: #00ffff;
    color: #151515;

    span {
      background: #151515;
      color: #00ffff;
    }
  }
}
